body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: burlywood;
}

#title {
    font-size: 50px; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight as needed */
    color: #333; /* Adjust the color as needed */
}

#breakMessage {
    font-size: 50px; /* Adjust the font size as needed */
}

#timerDisplay {
    font-size: 100px; /* Adjust the font size as needed */
    margin-top: 70px; /* Adjust the margin-top as needed */
}

#currentLevel {
    font-size: 36px; /* Adjust the font size as needed */
}

#currentLevel {
    margin-top: 50px; /* Adjust the margin-top as needed */
}

#upcomingLevel {
    font-size: 30px; /* Adjust the font size as needed */
    margin-top: 100px; /* Adjust the margin-top as needed */
}

#currentBlinds {
    font-size: 26px; /* Adjust the font size as needed */
}

#currentBlinds span {
    font-size: 26px; /* Adjust the font size as needed */
}

#upcomingBlinds {
    font-size: 18px; /* Adjust the font size as needed */
}

#upcomingBlinds span {
    font-size: 16px; /* Adjust the font size as needed */
}

#startButton,
#stopButton {
    font-size: 16px; /* Adjust the font size as needed */
    margin-top: 160px; /* Adjust the margin-top as needed */
}
